<div class="main-container" style="background-color: black; width: 100%; height: 100%;">
    <div>
        <app-header></app-header>
    </div>
    <div class="container" class="col-12" style="display: flex;">
        <div class="material-summary" style="width: 380PX;">
            <div class="summmary">
                <app-summary></app-summary>
            </div>
            <div class="material">
                <app-material></app-material>
            </div>
           
        </div>
    
        <div class="batches" class="col-4">
            <app-batches></app-batches>
        </div>
    
        <div class="packs" class="col-5.5">
            <app-packs></app-packs>
        </div>
    </div>
</div>
